.Container {
  width: 100%;
  /* margin: 10px; */
  padding: 5px;
  text-align: center;
  box-sizing: border-box;
}

.Container label {
  box-sizing: border-box;
  margin: 0;
  margin-top: 7px;
  font-size: 16px;
}

.Input {
  width: 100%;
  padding: 5px;
  padding-left: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fefefe;
  outline: none;
  border: 2px solid #ccc;
  letter-spacing: 1px;
}

.Input:focus {
  background-color: #ddd;
}

.Invalid {
  border: 2px solid rgb(199, 10, 10);
}
