.NavigationItem {
  display: flex;
  height: 100%;
  /* margin: 0 10px; */
  display: flex;
  align-items: center;
}

.NavigationItem a {
  text-decoration: none;
  font-size: 18px;
  height: 100%;
  box-sizing: border-box;
  display: block;
  color: aliceblue;
  padding: 15px 20px;
  transition: 0.2s ease;
  border-bottom: 2px solid transparent;
}

.NavigationItem a:active,
.NavigationItem a:hover,
.NavigationItem a.active {
  text-decoration: none;
  color: rgb(245, 161, 4);
  background-color: rgb(13, 55, 92);
  border-bottom: 2px solid rgb(245, 161, 4);
}

@media (max-width: 600px) {
  .NavigationItem {
    display: none;
  }
}
